.header__auth{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    cursor: pointer;
    transition: opacity linear 0.5s;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    padding: 0;
    height: 60px;
}

.header__auth:hover{
    opacity: 0.6;
}


