.header__auth{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    cursor: pointer;
    transition: opacity linear 0.5s;
    color: #FFFFFF;
    text-decoration: none;
}

.header__auth:hover{
    opacity: 0.6;
}


