.profile__edit-author{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 900px){
    .profile__edit-author{
        font-size: 27px;
        line-height: 33px;
        margin: 22px 0 14px 0;
        max-width: 189px;

    }

}
