.photo__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(auto-fill, 361px);
    gap: 17px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
