.footer__mesto{
    margin: 67px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 900px){
    .footer__mesto{
        margin: 48px 19px 0 19px;
        font-size: 14px;
        line-height: 17px;
    }

}
