.profile__avatar-update{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../../images/apdate.png) no-repeat center;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: all linear 0.5s;
    outline: none;
}

.profile__avatar-update:hover{
    opacity:  1;
    background-color: rgba(0, 0, 0, 0.8);
}
