.photo__card-like{
    width: 22px;
    height: 19px;
    background: url(../../../images/like.png);
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s all ease;
}

.photo__card-like:hover{
    opacity: 0.5;
}

